<!doctype html>
<html lang="en">
  {% include "partials/header.twig" %}

<body>
<div class="main-container">

  <div class="container-slide">
   
    <h1>Recommended recipes</h1>
  
    <div id="carouselExampleDark" class="carousel-dark slide slide_box" data-bs-ride="carousel">
    
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <img src="recipe_image/recipe_19.jpeg" class="img-fluid" alt="salmon">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
          <div class="carousel-item" >
            <img src="recipe_image/recipe_9.jpeg" class="img-fluid" alt="meat">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item" >
          <img src="recipe_image/recipe_7.jpeg" class="img-fluid" alt="asian">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="recipe-list">
    <br>
    <br>
    <div class="line"> Find the recipe </div>

    <div class="filter d-flex">
      <h4>FILTER BY</h4>
      <div class="d-flex filter-menu row align-items-start ">
        <div class="col filter-item"><a href="#">TOP RATED</a>
        
        </div>
        <div class="col filter-item">
        <a href="#">POPULAR</a>
        </div>
        <div class="col filter-item">
          <a href="#" >VEGETABLES</a>
        </div>
        <div class="col filter-item">
          <a href="#">SEAFOODS</a>
        </div>
        <div class="col filter-item">
          <a href="#">OTHERS</a>
        </div>
      </div>
    </div>

  <!-- card -->
  <div class="m-4">
    <div class="row row-cols-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="" class="card-img-top" alt="...">
           <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
          </div>
        </div>
      <div class="col">
        <div class="card h-100">
             <img src="" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <span class="fa fa-star rate checked"></span>
                <span class="fa fa-star rate checked"></span>
                <span class="fa fa-star rate checked"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="" class="card-img-top" alt="...">
             <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <span class="fa fa-star rate checked"></span>
              <span class="fa fa-star rate checked"></span>
              <span class="fa fa-star rate checked"></span>
              <span class="fa fa-star rate"></span>
              <span class="fa fa-star rate">3(reviews)</span>
              <br>
              <p>by </p>
            </div>
            </div>
          </div>
        <div class="col">
          <div class="card h-100">
               <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate checked"></span>
            <span class="fa fa-star rate"></span>
            <span class="fa fa-star rate">3(reviews)</span>
            <br>
            <p>by </p>
          </div>
          </div>
        </div>
    </div>
    <div class="p-3 m-5">
    <div class="text-center">
      <button type="button" class="btn btn-dark recipe_btn" style="border-radius:24px;  width:14%;">More recipe</button>
    </div>
    </div>

    <!-- Author ranking -->
    <br>
    <div class="line"> Popular author </div>
 
    <!-- Author details-->

    <div class="m-4 align-items-center p-3">
      <div class="row row-cols-4 p-3 text-center">

        <div class="card align-items-center" style="width: 18rem; border:unset">
          <h5 class="card-title">No1</h5>
            <img class="rounded-circle" alt="100x100" src="images/author.jpg" data-holder-rendered="true" style="width: 200px; height:200px;">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card align-items-center" style="width: 18rem; border:unset">
          <h5 class="card-title">No2</h5>
            <img class="rounded-circle" alt="100x100" src="images/author2.jpg" data-holder-rendered="true" style="width: 200px; height:200px;">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card align-items-center" style="border:unset">
          <h5 class="card-title">No3</h5>
           <img class="rounded-circle" alt="100x100" src="images/author3.jpg" data-holder-rendered="true" style="width: 200px; height:200px;">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>

        <div class="card align-items-center" style="width: 18rem; border:unset">
          <h5 class="card-title">No4</h5>
            <img class="rounded-circle" alt="100x100" src="images/author4.jpg" data-holder-rendered="true" style="width: 200px; height:200px;">
          <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3 mb-4">
      <div class="text-center">
        <button type="button" class="btn btn-dark recipe_btn" style="border-radius:24px;  width:14%;">More</button>
      </div>
      </div>

</div>



{% include "partials/footer.twig" %}
{% include "partials/script.twig" %}
</body>

</html>
