<!doctype html>
<html lang="en">
  {% include "partials/header.twig" %}

<body>
  {% include "partials/navigation.twig" %}
  <div class="main-container" style="color: grey;">
    <section class="vh-100" style="background-color: white">
     <!-- <div class="container py-5 h-100"> -->
        <div class="row  justify-content-center align-items-center h-100">
         <!-- <div class="col-12 col-md-8 col-lg-6 col-xl-5">-->
            <div class="card">
              
              <div class="card-body p-5" style="text-align:center;">
                <div class="user">
                <img class="user-img" src="/templates/images/account.png" style="width: 70px; height:70px;">
                <div class="user-info">
                <h1>Welcomback,</h1>
                <img class="user-detail" src="/templates/images/people.svg">
                <img class="user-detail" src="/templates/images/heart.svg">
                <img class="user-detail" src="/templates/images/pen.svg">
                </div>
                </div>  
                <!-- Account menu -->
                  <div class="menu-container row align-items-start ">
                    <div class="col menu"><a href="#">ACCOUNT INFO</a>
                    
                    </div>
                    <div class="col menu">
                    <a href="#">FAVORITES</a>
                    </div>
                    <div class="col menu">
                      <a href="#">I MADE IT</a>
                    </div>
                    <div class="col menu">
                      <a href="#">POST MY RECIPE</a>
                    </div>
                  </div>

                <div class="mb-4">
                  <label class="label-item" for="typeEmailX-2">NAME</label>
                  <input type="name" id="typeEmailX-2" class="form-syle form1" required/>
                </div>
    
                <div class="mb-4">
                  <label class="label-item" for="typePasswordX-2">EMAIL ADDRESS</label>
                  <input type="email" id="typePasswordX-2" class="form-syle form1" required/>
                </div>

                <div class="mb-4">
                  <label class="label-item" for="typePasswordX-2">CHANGE PASSWORD</label>
                  <input type="password" id="typePasswordX-2" class="form-syle form1" required/>
                </div>
    
    
                <!-- login button -->
                <button class="btn btn-dark btn-lg btn-block signup_btn" type="submit" style="border-radius:30px;  width:50%;">SUBMIT</button>
    
    
                <!-- if login as social media account -->
                <!--<button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;" type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  </div>
  {% include "partials/footer.twig" %}
  {% include "partials/script.twig" %}
</body>

</html>
