
  <footer class="footer">
    <div class="footer-detail">
      <div class="logo">

      <!-- logo -->
      <a class="logoimg" href="../../index.php">
        <img src="../templates/images/logo.png" alt=""></a> 
      </div>

      <!-- social media icon -->
      <div class="s-details">        
        <a href="https://facebook.com/page" class="fa fa-facebook"></a>
        <a href="https://youtube.com" class="fa fa-youtube"></a>
        <a href="https://twitter.com/?lang=en" class="fa fa-twitter"></a>
        <a href="https://www.snapchat.com/" class="fa fa-snapchat-ghost"></a>
      </div>

      <!-- link -->
      <div class="otherinfo">
          <a class="other" href="#">Privacy policy</a>
          <a class="other" href="#">Terms of conditions</a>
          <a class="other" href="#">Cookie policy</a>
      </div>

      <!-- contact button -->
      <div class="contact">
          <button type="button" class="btn btn-primary">Contact us</button>
      </div>
    </div>
  <div class="copyright">&copy; Copyright My recipe 2022. All rights reserved.</div>
  <script src="script.js"></script>
  
  </footer>

